/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .social-links ul li a {
    font-size: 1.5em;
  }
  .top.container .panel {
    border-top: 10px solid #C23A3D;
    margin-bottom: 0;
    padding: 0;
  }
  .top.container .panel-body {
    padding: 0;
  }
  .navi.container {
    padding: 0;
  }
  .navbar.navbar {
    background-color: #000000;
  }
  .navbar.navbar, .navbar-default.navbar {
    color: #ffffff;
  }
  .navbar {
    position: relative;
    z-index: 30;
  }
  .navbar .navbar-nav>li>a {
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: 3px solid rgba(252, 163, 27, 0);
    transition: all .3s ease-in;
  }
  .navbar .navbar-nav>.active>a,
  .navbar .navbar-nav>li:hover>a {
    background-color: rgba(255, 193, 7, .1);
    border-bottom: 3px solid rgba(252, 163, 27, 1);
  }
  .nav-rule {
    padding: 0;
    margin: 2px 0 0 0;
  }
  .phone-number {
    margin-left: 15px;
    margin-top: -40px;
    margin-right: 50px;
  }
  .phone-number a {
    color: #ffffff;
    font-size: 1.5em;
  }
  .phone-number a .fa {
    color: #ffffff;
  }
  .search-form {
    float: right;
    margin-top: -50px;
    padding-right: 145px;
  }
  #search {

  }

  #search input[type="text"] {
    background: url(search-white.png) no-repeat 10px 6px #fcfcfc;
    border: 1px solid #d1d1d1;
    font-size: 0.8em;
    color: #bebebe;
    width: 150px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s
  }

  #search input[type="text"]:focus {
    width: 200px;
  }
  #mainnav-bg-wrap {
    margin: -20px -0.9em 0 -0.9em;
    max-width: 1220px;
    border: 1.2em solid transparent;
    border-top: 1.2em solid #510e10;
    border-bottom: none;
  }
  #mainnav-bg {
    margin-top: -1.2em;
    height: 1.2em;
    background: #510e10;
    margin-right: 0.1px;
    margin-left: 0.1px;
  }
  #footnav-bg-wrap {
    margin: 0px -1.85em;
    max-width: 1220px;
    border: 1.2em solid transparent;
    border-top: 1.2em solid #510e10;
    border-bottom: none;
  }
  #footnav-bg {
    margin-top: -1.2em;
    height: 1.2em;
    background: #510e10;
    margin-right: 0.1px;
    margin-left: 0.1px;
  }
  .carousel {
    position: relative;
    margin-top: -20px;
    z-index: 25;
  }
  .carousel-btns {
    display: none;
  }
  .carousel-caption {
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .carousel-caption li {
    display: none;
  }
  .carousel-caption li.active {
    display: block;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    padding: 15px;
  }
  .carousel-caption li a {
    color: #ffffff;
    text-decoration: none;
  }
  .caption-p {
    color: #ffffff;
    font-size: 1.5em;
    line-height: 1.5em;
    padding-top: 5px;
  }
  .carousel-btns {
    position: absolute;
    z-index: 50;
    bottom: 45%;
    min-width: 100%;
  }
  .carousel-btns .left {
    left: 5%;
  }
  .carousel-btns .left:hover {
    color: #ffffff;
    background-color: #000000;
  }
  .carousel-btns .right {
    left: 85%;
  }
  .carousel-btns .btn-primary:not(.btn-link):not(.btn-flat) {
    background-color: #ffffff;
    border: 1px solid #a31d21;
    color: #000000;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,.12),0 0px 0px 0 rgba(0,0,0,.12);
    transition: background-color .2s ease,box-shadow .28s cubic-bezier(.4,0,.2,1);
  }
  .carousel-btns .btn-primary:hover:not(.btn-link):not(.btn-flat) {
    background-color: #a31d21;
    color: #ffffff;
    box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
  }
  .carousel-btns .btn-primary:hover:not(.btn-link):not(.btn-flat) .fa {
    color: #ffffff;
  }
  .well .btn-primary:not(.btn-link):not(.btn-flat) {
    background-color: #000000;
    color: #ffffff;
  }
  .well .btn-primary:hover:not(.btn-link):not(.btn-flat) {
    background-color: #ffffff;
    color: #000000;
  }
  .panel.funnel {
    height: 245px;
  }
  .widget-bar {
    background-color: #000000;
    padding: 30px;
    margin-top: 0px;
    position: relative;
    z-index: 30;
  }
  .footer-helper {
    min-height: 50px;
    background-color: #ffffff;
  }
  footer {
    position: relative;
    top: -19px;
    margin-bottom: 60px;
  }
  .copyright {
    background-color: #C23A3D;
    padding: 15px;
    color: #ffffff;
  }
  .copyright a {
    color: #ffffff;
  }
  .wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header a {
    font-size: 1.5em;
  }
  .wpb_accordion .wpb_accordion_wrapper .ui-state-default .ui-icon,
  .wpb_accordion .wpb_accordion_wrapper .ui-state-active .ui-icon {
    top: 1.3em !important;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  #page-container {
    margin-top: -20px;
  }
}