/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .logo {
    width: 100%;
    margin: 0;
  }
  .carousel-btns {
    display: block;
  }
  .carousel-caption {
    display: block;
  }
  .panel.funnel {
    height: 275px;
  }
}